# dependencies
node_modules/

# build output
dist/

# logs
*.log

# environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bun
bun.lockb

# npm
package-lock.json

# yarn
yarn.lock